body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #cddade;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head_contents{
  font-weight: bold;
  font-size:20px
}

.check_field{
  width:350px;
  background-color: #0a3444 !important;
  border-radius: 30px;
}

.contents{
  color:#FFF; /*文字の色指定*/
  font-weight: bold;
  font-size:20px
}

.a_button {
  display: inline-block;
  border-style: solid;
  color: black;
  background-color: rgb(225, 224, 224);
  border-width:1px;
  border-color: darkgray;
  text-decoration: none;
}
