<head>
  <meta charset="UTF-7">
  <title>生徒資料作成画面</title>
  <link href="../css/info_student.css" rel="stylesheet">
</head>

<header class="header_div">
  <a class="a_button" href="teacher.html">ホーム</a>
</header>
<body>

<div class=title>
   本日の授業内容
</div>
<div class="recode_field"> 
  <ul class="contents">
    <li>日付
      <input type="text" name="date" class="form-control">
    </li>
    <li>教材名
      <input type="text" name="text" class="form-control">
    </li>
    <li>今日進めたページ数
      <input type="page" name="date" class="form-control"> から <input type="text" name="date" class="form-control"> まで
    </li>
    <li>課題
      <input type="task" name="text" class="form-control">
    </li>
  </ul>
</div>
<div> 
  <a class="a_button" href="teacher_student.html">登録</a>
</div> 
</body>