Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@sakana7392 
matsumotokoki
/
BBWC
Private
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
BBWC/template/register_student.html
@matsumotokoki
matsumotokoki fix name
Latest commit 5bb4397 36 minutes ago
 History
 2 contributors
@yuyaha@matsumotokoki
26 lines (22 sloc)  626 Bytes
  
<head>
  <meta charset="UTF-8">
  <title>講師用画面(生徒情報)</title>
  <link href="../css/register.css" rel="stylesheet">
</head>

<body>
    <div class="head_contents">以下の内容で登録します。</div>

<div class="check_field">
  <ul>
    <li class="contents"> 学年 #grade
    </li>
    <li class="contents"> 担当講師 #name
    </li>
    <li class="contents"> 中学校 #belonging_school
    </li>
    <li class="contents"> 志望校 #school_of_choise
    </li>
  </ul>
</div>


<a class="a_button" href="teacher.html">登録</a>
<a class="a_button" href="register_student2.html">修正</a>
</body>
