<head>
  <meta charset="UTF-8">
  <title>講師用画面(生徒検索結果)</title>
  <link href="../client/css/search_student.css" rel="stylesheet">
</head>

<body>
  <header style="background-color: white;;">
    <img src="../images/pencil.png" alt="" width="30" height="24" class="d-inline-block align-top" style="margin-left: 2%;">
    <a class="header-logo" href="/teacher" style="background-color: white;margin-left: 1%;">Lead</a>
  </header>

  <div class="container">
    <!-- 前のページで入力した条件に合う生徒を表示。 -->
    <!-- 生徒名をクリックして。生徒のページ(teacher_student.html)へ移動。その生徒の情報を次のページで表示したい -->
    <h2>検索結果</h2>
    <p>＊ 生徒名をクリックして各生徒の情報を表示することができます</p>
    <table class="type06">
      <colgroup span="5"></colgroup>
      <tr>
        <th>生徒ID</th>
        <th>氏名</th>
        <th>学年</th>
        <th>担当の講師</th>
        <th>志望校</th>
        <th>削除</th> 
      </tr>
      <tr>
        <td>{{.Id}}</td>
        <td><a href="/teacher_student/{{.Id}}">{{.Name}}</a></td>
        <td>{{.Grade}}</td>
        <td>{{.Teacher_name}}</td>
        <td>{{.WantSchool}}</td>
        <td>
              <a class="a_button" href="#delete-request">　　</a>
        </td>
      </tr>
      <!-- example -->
    </table>
  </div>
</body>

