<head>
  <meta charset="UTF-8">
  <title>講師用画面(生徒検索結果)</title>
  <link href="../client/css/search_student.css" rel="stylesheet">
</head>

<body>
  <header>
    <a class="header-logo" href="/teacher">アプリ名</a>
  </header>

  <div class="container">
    <!-- 前のページで入力した条件に合う生徒を表示。 -->
    <!-- 生徒名をクリックして。生徒のページ(teacher_student.html)へ移動。その生徒の情報を次のページで表示したい -->
    <h2 class="textbookstitle">テキスト一覧</h2>
    
    <table class="type06">
      <colgroup span="5"></colgroup>
      <tr>
        <th>テキストId</th>
        <th>科目</th>
        <th>テキスト名</th>
        <th>ページ数</th>
        
      </tr>
      {{range $nowdata:=.}}
        <tr>
            <td>{{$nowdata.Id}}</td>
            <td>{{$nowdata.Subject_name}}</td>
            <td>{{$nowdata.Name}}</td>
            <td>{{$nowdata.Page}}</td>
            <td>
              <a class="btn" href="#delete-request">削除する</a>
            </td>
        </tr>
      {{end}}
      <!-- example -->
    </table>
  </div>
</body>

