<head>
  <meta charset="UTF-8">
  <title>講師用画面</title>
  <link href="../client/css/teacher.css" rel="stylesheet">
</head>

<body>
  <script>
    function js_alert() {
      window.confirm("この内容で登録しますか？");
    }
  </script>
  <header>
    <a class="header-logo" href="../login">Lead</a>
  </header>
  <div class="teacher-wrapper">
    <!-- 検索条件に合う生徒を探して、次のページ(search_student.html)で一覧を表示する -->
    <div class="container"
    style="background-color: #f5f5f5;
    font-weight: bold;
    border-radius: 30px;
    width: auto;
    margin:30 auto;
    padding: 20px;
    padding-right:30;
    ">
      <div class="contents_wrapper">
      <div class="block">
        <h1>生徒検索</h1>
        <form class="form-element-wrapper" action="/search_student">
          <input type="text" name="student_name" class="form-control" placeholder="キーワード">
          <input type=submit value="検索">
        </form>
        <h3>絞り込み</h3>
        <form action="/show_all_student/">
          <div class="searcher-detail-item">
            <span class="searcher-detail-item-header">学年　　　 : </span>
            <input type="checkbox" id="grade" name="grade">
            <label for="scales">１年</label>
            <input type="checkbox" id="grade" name="grade">
            <label for="scales">２年</label>
            <input type="checkbox" id="grade" name="grade">
            <label for="scales">３年</label>
          </div>
          </form>
        <div class="searcher-detail-item">
        
          
        <form action="/show_all_student/">
          <span class="searcher-detail-item-header" >担当講師名 : </span>
          <input type="text" name="teacher_name" class="form-control" placeholder="担当講師名" autofocus>
          <input type="submit" value="表示">
        </form>
      </div>
    </div>
    </div>
  </div>

    <div class="container">
      <div class="block"
      style="background-color: #f5f5f5;
    font-weight: bold;
    border-radius: 30px;
    width: auto;
    margin:30 auto;
    padding: 20px;
    padding-right: 50px;
    ">
        <!-- 入力したデータを次のページで表示して確認する -->
        <h1>生徒登録</h1>
        <form action="/register_student/">
          <ul>
            <li> 学年　　 :
              <input type="text" name="grade" class="form-control">
            </li>
            <li> 生徒名　 :
              <input type="text" name="student_name" class="form-control">
            </li>
            <li> 担当講師 :
              <input type="text" name="teacher_name" class="form-control">
            </li>
            <li> 中学校　 :
              <input type="text" name="school" class="form-control">
            </li>
            <li> 志望校　 :
              <input type="text" name="school_of_choise" class="form-control">
            </li>
          </ul>
          <input type=submit class="right" value="登録">
        </form>
      </div>
      <div class="block"
      style="background-color: #f5f5f5;
    font-weight: bold;
    border-radius: 30px;
    width: auto;
    margin:30 auto;
    padding: 20px;
    padding-right: 0;
    margin-left: 50;
    ">
        <!-- 入力したデータを次のページで表示して確認する -->
      
        <a href="/show_all_textbook/" style="color: #6c7686;">教材一覧</a>
        <h1>教材登録</h1>
        <form action="/register_textbook/">
          <ul>
            <li> タイトル :
              <input type="text" name="text_title" class="form-control">
            </li>
            <li> 科目　　 :
              
              <select name="subject"　class="form-control">
                <option value="国語">国語</option>
                <option value="数学">数学</option>
                <option value="英語">英語</option>
                <option value="理科">理科</option>
                <option value="社会">社会</option>
              </select>
            </li>
            <li> ページ数 :
              <input type="text" name="pages" class="form-control">
            </li>
          </ul>
          <input type=submit class="right" value="登録">
        </form>
      </div>
    </div>
  </div>
</body>
