<head>
  <meta charset="UTF-8">
  <title>講師用画面(生徒情報)</title>
  <link href="../client/css/teacher_student.css" rel="stylesheet">
</head>

<body>
  <header>
    <a class="header-logo" href="/teacher">アプリ名</a>
  </header>

  <div class="container">
    <h2>生徒情報</h2>
    <div class="contents_wrapper">
      <div class="contents">
        <ul>
          <li>氏名　　 : #name</li>
          <li>学年　　 : #grade</li>
          <li>中学校名 : #belong_school</li>
          <li>志望校　 : #school_choise</li>
        </ul>
      </div>
    </div>

    <h2>お知らせ</h2>
    <div class="contents_wrapper">
      <div class="contents">
        今週は
        <div class="contents">
          <ul>
            <li>#textbook の #start ~ #end</li>
            <li>#textbook の #start ~ #end</li>
          </ul>
        </div>
        を進めてください。<span class="subcontents"><a href="info_student.html"> ＊ 進捗入力画面へ移動 </a></span>
      </div>
    </div>

    <h2>学習スケジュール</h2>
    <div class="wrapper">
      <div class="gantt">
        <div class="gantt__row gantt__row--months">
          <div class="gantt__row-first">
              月
          </div>
          <span> 4月</span><span></span><span></span><span></span>
          <span> 5月</span><span></span><span></span><span></span>
          <span> 6月</span><span></span><span></span><span></span>
          <span> 7月</span><span></span><span></span><span></span>
          <span> 8月</span><span></span><span></span><span></span>
          <span> 9月</span><span></span><span></span><span></span>
          <span>10月</span><span></span><span></span><span></span>
          <span>11月</span><span></span><span></span><span></span>
          <span>12月</span><span></span><span></span><span></span>
          <span> 1月</span><span></span><span></span><span></span>
          <span> 2月</span><span></span><span></span><span></span>
          <span> 3月</span><span></span><span></span><span></span>
        </div>
        <div class="gantt__row gantt__row--lines" data-month="5">
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span class="marker"></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span>
        </div>
        <div class="gantt__row">
          <div class="gantt__row-first">
            国語
          </div>
          <ul class="gantt__row-bars">
            <li style="grid-column: 12/22; background-color: green;">教材[ページ数]</li>
            <li style="grid-column: 23/48; background-color: green;">教材[ページ数]</li>
          </ul>
        </div>
        <div class="gantt__row gantt__row">
          <div class="gantt__row-first">
            数学
          </div>
          <ul class="gantt__row-bars">
            <li style="grid-column: 1/10; background-color: black;" class="stripes">教材[ページ数]</li>
          </ul>
        </div>
        <div class="gantt__row">
          <div class="gantt__row-first">
            理科
          </div>
          <ul class="gantt__row-bars">
              <li style="grid-column: 8/16; background-color: red;"> 教材[ページ数]</li>
          </ul>
        </div>
        <div class="gantt__row gantt__row">
          <div class="gantt__row-first">
            社会
          </div>
          <ul class="gantt__row-bars">
            <li style="grid-column: 4/22; background-color: blue;">教材[ページ数]</li>
          </ul>
        </div>
        <div class="gantt__row gantt__row">
          <div class="gantt__row-first">
            英語
          </div>
          <ul class="gantt__row-bars">
            <li style="grid-column: 22/39; background-color: orange;">教材[ページ数]</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer></footer>
</body>
